<!DOCTYPE html>
<html>
  <head>
    <title>RubyFriendlistApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- yield tag describes the default place for inserting all different files in  -->
    HEADER HERE... <br> <br>
    <%= yield %>

    <br><br> FOOTER HERE..
  </body>
</html>
